Checks: '-*,modernize-use-default-member-init,readability-braces-around-statements,google-readability-casting'
CheckOptions:
  - key:   modernize-use-default-member-init.UseAssignment
    value: 'true'

